
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    text-align: center;
}

main{
    background:transparent;
    backdrop-filter: blur(10px);
    margin-left: 20%;
    margin-right: 20%;
}
footer {
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Eğitim bilgileri stil */
#education {
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    text-align: center;
}

#education h2 {
    margin-bottom: 20px;
}

#education article {
    margin-bottom: 20px;
}

#education article h3 {
    margin-bottom: 10px;
    color: #333;
}

#education article p {
    margin: 0;
    color: white;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-nav .nav-item {
    float: left;
}

.navbar-nav .nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-nav .nav-item a:hover {
    background-color: #03f40f;
    color: black;
    box-shadow: 0 0 5px #03f40f,
                0 0 25px #03f40f,
                0 0 50px #03f40f,
                0 0 100px #03f40f;
}
